# Fichiers temporaires LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc

# Fichiers temporaires de l'éditeur
.idea/

# Autres fichiers temporaires
plan.md